# Xcode
.build/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcworkspace
!Tesseract.xcodeproj

# macOS
.DS_Store
*.swp

# Generated
Tesseract.xcodeproj/
Tesseract/Info.plist

# Haskell build artifacts
spec/**/*.hi
spec/**/*.o
spec/**/*.dyn_hi
spec/**/*.dyn_o
